{%extends 'indexlogin.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Login {% endblock %}
{% block content %} 
<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-6 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Entrar</h1>
                  </div>
                  <form class="user" method="POST">
                  {% csrf_token %}
                    <div class="form-group">
                        {% render_field form.username type="text" class+="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Usuario"%}
                        {{ form.username.errors}}
                    </div>
                    <div class="form-group">
                        {% render_field form.password type="password" class+="form-control form-control-user" id="exampleInputPassword" aria-describedby="emailHelp" placeholder="Senha"%}
                        {{ form.password.errors}}
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label
                        <i class="fas fa-align-justify"></i>
                      </div>
                    </div>
                    <button  class="btn btn-primary btn-user btn-block fas fa-align-justify" type="submit">Login</button>
                    {% if form.errors %}
                        <hr>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>Usuario ou senha incorreta.</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>Usuario ou senha incorreta.</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                  </form>
                  <i class=""></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src=" {% static 'vendor/jquery/jquery.min.js' %} "></script>
  <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}  "></script>

  <!-- Core plugin JavaScript-->
  <script src=" {% static 'vendor/jquery-easing/jquery.easing.min.js' %} "></script>

  <!-- Custom scripts for all pages-->
  <script src=" {% static 'js/sb-admin-2.min.js' %} "></script>

</body>



{% endblock %}