{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Ocorrencias {% endblock %}

{% block content %}


<div class="container-fluid">
   <div class="card shadow mb-4">
      <div class="card-header py-3">
         {{ titulo }}
      </div>
      <div class="card-body">
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Consultora</label>
               <div class="col-sm-8">
               {% render_field form.consultora type="text" class+="selectpicker form-control form-control-user" data-live-search="true" placeholder="Consultora"%}
               </div>
            </div>
            
            <div class="form-group row" id="RadioCheck">
               <label  class="col-sm-2 col-form-label">Tipo</label>
               <div class="col-sm-8 ml-4">
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="typeOccurrence" id="typeOccurrence" value="Ocorrencia" required {% if not garantia %}checked{% endif %}>
                     <label class="form-check-label" for="inlineRadio3">Ocorrencia</label>
                  </div>
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" name="typeOccurrence" id="typeOccurrence" value="Garantia" {% if garantia %} checked {% endif %}>
                     <label class="form-check-label" for="inlineRadio3">Garantia</label>
                  </div>
               </div>
            </div> 
            <div class="form-group row">
               <label  class="col-sm-2 col-form-label" >Ocorrencia</label>
               <div class="col-sm-8">
               {% if garantia %}
                  {% render_field form.ocorrencia type="text" class+="selectpicker form-control form-control-user" data-live-search="true" placeholder="Ocorrencia" disabled=True%}
               {% else %}
                  {% render_field form.ocorrencia type="text" class+="selectpicker form-control form-control-user" data-live-search="true" placeholder="Ocorrencia" %}
               {% endif %}
               </div>
            </div>
            <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Numero da nota</label>
               <div class="col-sm-2">
                {% render_field form.numero_nota type="number" class+="form-control form-control-user" placeholder="Numero da nota"%}
               </div>
            </div>
            <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Semana da Nota</label>
               <div class="col-sm-2">
                {% render_field form.semanaNota type="number" class+="form-control form-control-user" placeholder="Semana da Nota"%}
               </div>
            </div>      
            <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Codigo Produto</label>
               <div class="col-sm-2">
                {% render_field form.codigo_produto type="number" class+="form-control form-control-user" placeholder="Codigo Produto"%}
               </div>
            </div>
            <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Nome do Produto</label>
               <div class="col-sm-8">
                {% render_field form.nomeProduto type="text" class+="form-control form-control-user" placeholder="Nome do Produto"%}
               </div>
            </div>
            <div class="form-group row">
               <label  class="col-sm-2 col-form-label" >Observação</label>
               <div class="col-sm-8">
                {% render_field form.observacao type="text" class+="form-control form-control-user" placeholder=""%}
               </div>
            </div>  
            <div class="form-group row">
               <label  class="col-sm-2 col-form-label" >Status</label>
               <div class="col-sm-8">
                {% render_field form.status type="text" class+="form-control " placeholder=""%}
               </div>
            </div>   
            <div class="form-group row">
               <label  class="col-sm-2 col-form-label" >Nota</label>
               <div class="col-sm-8">
                {% render_field form.nota type="file" multiple="True"  class+="" id="customFile" %}
               </div>
            </div>


            <div class="form-check form-check-inline">

   

      
            </div>
            {% comment %} <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
               <label class="form-check-label" for="inlineRadio2">2ASASDASDASDADAS &nbsp</label>
               <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
               <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
               <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
            </div> {% endcomment %}

            

     
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="cancel" class="btn btn-danger">Cancelar</button>
         </form>
      </div>
   </div>
</div> 

{% endblock %}
{% block scripts %}

  
  <!-- Bootstrap core JavaScript-->
  <script src=" {% static 'vendor/jquery/jquery.min.js' %} "></script>
  <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}  "></script>

  <!-- Core plugin JavaScript-->
  <script src=" {% static 'vendor/jquery-easing/jquery.easing.min.js' %} "></script>

  <!-- Custom scripts for all pages-->
  <script src=" {% static 'js/sb-admin-2.min.js' %} "></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- Latest compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
 
        {% comment %} <!-- (Optional) Latest compiled and minified JavaScript translation files -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script> {% endcomment %}
   
     <script src=" {% static 'js/script.js' %} "></script>
</body>

{% endblock scripts %}
